<!-- registration.component.html -->
<div *ngIf="!registerMemberPage" class="registration-container">
    <div class="image-section">
      <!-- <img src="/images/top-banner-3.jpg" alt="Welcome"> -->
    </div>
    <div class="info-section">
      <h1>Welcome</h1>
      <p>You can register 6 members with one mobile number</p>
      <button class="btn" (click)="registerMember()">Register Member</button>
      <div class="note-section">
        <h2>Note</h2>
        <ul>
          <li>All communications and reminders are sent to your Registered Mobile Number.</li>
          <li>One registration per person is sufficient. Please do not register with multiple mobile numbers or different Photo ID Proofs for the same individual.</li>
          <!-- Add other list items here -->
        </ul>
      </div>
    </div>
  </div>

  <ng-container *ngIf="registerMemberPage">
    <app-register-member (cancel)="backButton($event)"></app-register-member>
  </ng-container>


  