<div class="container">
    <h2 class="header-txt">Register for Vaccination</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name">
      </mat-form-field>
  
      <mat-radio-group formControlName="gender" aria-label="Select gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
  
      <mat-form-field appearance="outline">
        <mat-label>Year of Birth</mat-label>
        <input matInput type="number" formControlName="yearOfBirth">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Photo ID Proof</mat-label>
        <mat-select formControlName="photoIdProof">
          <mat-option value="">Select your ID Proof</mat-option>
          <mat-option value="passport">Passport</mat-option>
          <mat-option value="drivingLicense">Driving License</mat-option>
          <!-- Add other options here -->
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Photo ID Number</mat-label>
        <input matInput formControlName="photoIdNumber" placeholder="Enter your Photo ID Number">
      </mat-form-field>
  
      <button class="btn" type="submit" (click)="onCancel()">Cancel</button>
      <button class="btn" type="submit" style="margin-left: 10px;">Register</button>
    </form>
  </div>
  