<div id="vaccinationCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/top-banner-1.png" class="d-block w-100" alt="Vaccination Achievement">
        <div class="carousel-caption d-none d-md-block">
          <h5>Historic Achievement!</h5>
          <p>Jamaica’s Glorious Journey of Vaccinations</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/top-banner-2.jpg" class="d-block w-100" alt="National Immunization">
        <div class="carousel-caption d-none d-md-block">
          <h5>National Immunization Schedule</h5>
          <p>Register Now for Vaccination</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/top-banner-3.jpg" class="d-block w-100" alt="Vaccines for Children">
        <div class="carousel-caption d-none d-md-block">
          <h5>Vaccines for Children</h5>
          <p>Learn More About Childhood Immunization</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#vaccinationCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#vaccinationCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  