<div class="navbar">
    <div class="logo">
      <img src="/images/logo.jpg" alt="Logo" class="logo-img">
      <span class="logo-text">MOHW</span>
    </div>
    <div class="navbar-links">
      <a href="#" class="navbar-link">Home</a>
      <a href="#" class="navbar-link">ABHA ID</a>
      <a href="#" class="navbar-link">Videos</a>
      <a href="#" class="navbar-link">Platforms</a>
      <a href="#" class="navbar-link">FAQ</a>
    </div>
    <div class="navbar-right">
      <div class="language-selector">
        <!-- <span>English</span> -->
        <select>
          <option value="English">English</option>
          <option value="Hindi">Hindi</option>
        </select>
      </div>
      <button class="button" (click)="login()">Register / Sign In</button>
    </div>
  </div>
  