.main-container {
    padding-top: 80px;
}

  /* Responsive Layout */
  @media (max-width: 888px) {
    .main-container {
        padding-top: 125px;
    }
  }

  @media (max-width: 595px) {
    .main-container {
        padding-top: 150px;
    }
  }