<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/images/logo.jpg" alt="Ministry of Health & Wellness Jamaica Logo">
      </div>
      <div class="footer-links">
        <div class="links-section">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">All About Vaccines</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
            <li><a href="#">Educational Resources</a></li>
          </ul>
        </div>
        <div class="links-section">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Immunization Quiz</a></li>
            <li><a href="#">Childhood Vaccines</a></li>
            <li><a href="#">Adult & Adolescent Vaccines</a></li>
          </ul>
        </div>
        <div class="call-centre">
          <span>Vaccination Call Centre</span>
          <span class="phone-number">888-ONE-LOVE (888-663-5683)</span>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© {{this.footerDate}} Ministry of Health and Wellness Jamaica. All Rights Reserved</span>
    </div>
  </footer>
  