/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    --mat-form-field-container-height: 45px;
    --mat-form-field-container-vertical-padding: 8px;
}

/* Enhanced Button Styling */
.btn {
    width: auto;
    // font-weight: bold;
    // text-transform: uppercase;
    border-radius: 6px !important;
    border: none;
    background: linear-gradient(45deg, #00796b, #004d40) !important;
    color: #fff !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background: linear-gradient(45deg, #00574b, #002e26) !important;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    }
}

.header-txt {
    font-size: 24px !important;
    color: #004d40 !important;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    background: #007F7F !important;
    overflow-x: hidden;
    height: 55px;
    overflow-y: hidden;
}

.modal-title {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    padding: 12px 10px;
    border: none !important;
    border-radius: 4px !important;
    // background: #007F7F !important;
    color: white !important;
    display: block;
  }

 .mat-mdc-dialog-surface {
    border-radius: 0 !important;
  }

  .icon-red {
    color: white !important;
    top: 3px;
  }

  .group-form-field {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
  }
  
  .half-width {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }